@font-face {
  font-family: Bebasneue;
  src: url(../Universal/Font/BebasNeue.woff);
}

@font-face {
  font-family: museo;
  src: url(../Universal/Font/museo300-regular.otf);
}

.top_navigation_bar{
	position:fixed;
	top:0;
	background-color:#424242;
	width:100%;
	color:white;
	height:70px;
	padding:5px 10px 5px;
	z-index:25;
	border-bottom:4px solid #326d96;
}

.top_navigation_bar button{
	background-color:transparent;
	border:none;
	outline:none!important;
}

.sidenav{
	background-color:#0e3f66;
	height:100%;
	left:0;
	top:70px;
	width:200px;
	position:fixed;
	overflow-y:scroll;
	padding-left:10px;
	padding-top:10px;
}

.sidenav button{
	border:none;
	font-family:museo;
	color:white;
	padding-left:50px;
	padding:10px;
	width:100%;
	background-color:transparent;
	text-align:left;
	outline:none!important;
	transition:0.3s all ease;
}

.dropdown_button{
	background-color:transparent;
}

.dropdown_button.active{
	background-color:#00ccff;
}

.dropdown-container {
	display: none;
	background-color:#326d96;
	padding-left: 0px;
	line-height:2.5;
	width:100%;
}

.dropdown-container a{
	color:white;
	text-decoration:none;
}

.dropdown-container button{
	width:100%;
	border-left:10px solid transparent;
	padding:5px;
}

.dropdown-container button.activated{
	border-left:10px solid #0792b5;
}

.sidenav a{
	color:white;
	text-decoration:none;
}

.sidenav::-webkit-scrollbar {
    width: 12px;
}

.sidenav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.sidenav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.sidenav_small{
	background-color:#0e3f66;
	padding:20px;
	height:100%;
	left:0;
	top:70px;
	width:50px;
	position:fixed;
	overflow-y:hidden;
	display:none;
	z-index:0;
	color:white;
	cursor:pointer;
	padding-top:20px;
}

.main{
	margin-left:200px;
	padding:20px;
	padding-top:90px;
	padding-left:30px;
	display:none;
}

.form-control{
	border-radius:0;
}

@media only screen and (max-width: 576px) {
	.sidenav{
		display:none;
	}
	
	.main{
		margin-left:40px;
	}
	
	.sidenav_small{
		display:block;
	}
}

@media only screen and (min-width: 576px) {
	.sidenav{
		display:block;
	}
	
	.main{
		margin-left:200px;
	}
	
	.sidenav_small{
		display:none;
	}
}

.full_screen_wrapper{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(25,25,25,0.8);
	z-index:50;
	display:none;
}

.full_screen_box{
	position:fixed;
	width:80%;
	height:80%;
	padding:20px;
	background-color:white;
	overflow-y:scroll;
	top:10%;
	left:10%;
}

.full_screen_box::-webkit-scrollbar {
	width: 1em;
}
 
.full_screen_box::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.full_screen_box::-webkit-scrollbar-thumb {
	background-color: #424242;
	outline: 1px solid slategrey;
}

.full_screen_box_loader_wrapper{
	position:fixed;
	bottom:10%;
	width:80%;
	left:10%;
	height:10px;
	background-color:#fff;
	display:none;
}

.full_screen_box_loader{
	width:20%;
	height:100%;
	background-color:#008080;
	-webkit-animation-name: example;
	-webkit-animation-duration: 3s;
	animation-name: example;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes example {
	0%   {margin-left:0%;width:20%;}
	50%  {margin-left:75%;width:25%;}
	80% {margin-left:100%;width:0%;}
	100% {margin-left:100%;width:0%;}
}

.full_screen_close_button{
	border:none;
	position:fixed;
	top:6%;
	right:9%;
	z-index:55;
	color:#424242;
	background-color:rgba(180, 180, 180,0.9);
	border-radius:50%;
	outline:none!important;
	transition:0.3s all ease;
}

.full_screen_close_button:hover{
	color:#424242;
	background-color:white;
}

.full_screen_notif_bar{
	position:fixed;
	background-color:white;
	width:100%;
	height:60%;
	max-height:150px;
	text-align:center;
}

.loading_wrapper_initial{
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(20,20,20,0.3);
	z-index:200;
	width:100%;
	height:100%;
}

.loading_wrapper_initial .loading_wrapper{
	position:absolute;
	top:40%;
	left:50%;
	color:white;
}

#search_bar {
	padding:10px;
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}
#search_bar:focus {
	width: 100%;
}

label{
	font-size:16px!important;
}