@font-face {
  font-family: Bebasneue;
  src: url(../Universal/Font/Bebasneue/BebasNeue.woff);
}
.dropdown-container a{
	color:white;
	text-decoration:none;
}
.box_notif{
	border:1px solid #ddd;
	box-shadow:2px 5px 3px #999;
	border-radius:4px;
	width:100%;
}
.btn_notif{
	background-color:transparent;
	border:none;
	color:black;
	text-align:left;
	box-shadow:2px 5px 3px #999;
}
.sidenav{
	background-color:#333;
	padding:20px;
	height:100%;
	top:0;
	left:0;
	width:200px;
	position:fixed;
	overflow-y:scroll;
}
.main{
	margin-left:200px;
	padding:20px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#myTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
.sticky{
	margin-top:0px;
	position:fixed;
}
	
.sticky + .main {
  padding-top: 0px;
}	
.nomor{
	width:100%;
	background-color:#fff;
	border:none;
}
.fa-folder{
	width:50px;
	font-size: 20px;
	padding:20px;
	top:50%;
	right:0px;
	position:fixed;
	background-color:#333;
	border-radius:8px;
	text-align:center;
	color:#ddd;
}
.fa-close{
	width:50px;
	font-size: 20px;
	padding:20px;
	top:60%;
	right:0px;
	position:fixed;
	background-color:#333;
	border-radius:8px;
	text-align:center;
	color:red;
}
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #4CAF50;
}