body{
	background-color:#888;
	height:100%;
}
.navbar{
	margin-bottom:0px;
}
.main{
	margin:0px;
}
.container-fluid {
	position:relative;
}
.cards {
	padding:0px;
	text-decoration:none;
	transition:0.5s ease all;
}
.cards:hover {
	opacity:0.5;
	transition:0.5s ease all;
}
.card{
	background-color:transparent;
	border: none;
	width:100%;
	padding:20px;

}
#form-holder{
	padding-top:20px;
}
